{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<div class="col-sm-10" >
    <h3 class="text-white my-5">About Page</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia iusto cumque iure quae, molestias atque ullam ea at. Ducimus, quam dolorum blanditiis laborum esse officia necessitatibus vitae quas voluptates excepturi, harum numquam expedita. Cupiditate corrupti aliquam deleniti nobis fugit iusto nam illum placeat qui sapiente, eius autem voluptate sequi voluptatem?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, totam? Tenetur fuga ducimus reiciendis cum accusantium, voluptate illo provident? Exercitationem, ullam illo. Deleniti, culpa dignissimos ex rerum adipisci consequatur tenetur in impedit eaque nihil nostrum provident eos facilis aspernatur praesentium veniam, similique ea, distinctio minima error illum mollitia eius recusandae facere! Itaque vero repudiandae dolore tempora assumenda minus aut natus velit perferendis unde? Blanditiis atque neque voluptas, facere delectus qui.
    </p>
</div>

{% endblock content %}
